<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yy.dao.FlexTeacherMapper" >
  <resultMap id="BaseResultMap" type="com.yy.bean.FlexTeacher" >
    <id column="flex_teacher_id" property="flexTeacherId" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="yy_num" property="yyNum" jdbcType="BIGINT" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="diy_nick_name" property="diyNickName" jdbcType="VARCHAR" />
    <result column="diy_nick_name_active" property="diyNickNameActive" jdbcType="TINYINT" />
    <result column="head_url" property="headUrl" jdbcType="VARCHAR" />
    <result column="diy_head_url" property="diyHeadUrl" jdbcType="VARCHAR" />
    <result column="diy_head_url_active" property="diyHeadUrlActive" jdbcType="TINYINT" />
    <result column="fin_type" property="finType" jdbcType="VARCHAR" />
    <result column="live_status" property="liveStatus" jdbcType="TINYINT" />
    <result column="live_status_update_type" property="liveStatusUpdateType" jdbcType="VARCHAR" />
    <result column="live_status_update_time" property="liveStatusUpdateTime" jdbcType="TIMESTAMP" />
    <result column="live_sid" property="liveSid" jdbcType="BIGINT" />
    <result column="live_ssid" property="liveSsid" jdbcType="BIGINT" />
    <result column="live_sid_alias" property="liveSidAlias" jdbcType="BIGINT" />
    <result column="stream_id" property="streamId" jdbcType="VARCHAR" />
    <result column="ip_users" property="ipUsers" jdbcType="BIGINT" />
    <result column="live_population" property="livePopulation" jdbcType="BIGINT" />
    <result column="live_time" property="liveTime" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="text_zone_a" property="textZoneA" jdbcType="VARCHAR" />
    <result column="text_zone_b" property="textZoneB" jdbcType="VARCHAR" />
    <result column="text_zone_c" property="textZoneC" jdbcType="VARCHAR" />
    <result column="text_zone_d" property="textZoneD" jdbcType="VARCHAR" />
    <result column="text_zone_e" property="textZoneE" jdbcType="VARCHAR" />
    <result column="text_zone_f" property="textZoneF" jdbcType="VARCHAR" />
    <result column="text_zone_g" property="textZoneG" jdbcType="VARCHAR" />
    <result column="text_zone_h" property="textZoneH" jdbcType="VARCHAR" />
    <result column="num_zone_a" property="numZoneA" jdbcType="BIGINT" />
    <result column="num_zone_b" property="numZoneB" jdbcType="BIGINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="live_channel_name" property="liveChannelName" jdbcType="VARCHAR" />
    <result column="live_sub_channel_name" property="liveSubChannelName" jdbcType="VARCHAR" />
    <result column="grow" property="grow" jdbcType="BIGINT" />
    <result column="next_grow" property="nextGrow" jdbcType="BIGINT" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="level_title" property="levelTitle" jdbcType="VARCHAR" />
    <result column="live_thumb" property="liveThumb" jdbcType="VARCHAR" />
    <result column="live_multi_screen" property="liveMultiScreen" jdbcType="VARCHAR" />
    <result column="cover_status" property="coverStatus" jdbcType="TINYINT" />
    <result column="contract_sid" property="contractSid" jdbcType="BIGINT" />
    <result column="contract_sid_alias" property="contractSidAlias" jdbcType="BIGINT" />
    <result column="social_nick_name" property="socialNickName" jdbcType="VARCHAR" />
    <result column="social_introduction" property="socialIntroduction" jdbcType="VARCHAR" />
    <result column="social_head_url" property="socialHeadUrl" jdbcType="VARCHAR" />
    <result column="page_tag_id" property="pageTagId" jdbcType="BIGINT" />
    <result column="fans_count" property="fansCount" jdbcType="INTEGER" />
    <result column="apprentice_count" property="apprenticeCount" jdbcType="BIGINT" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="real_name_md5" property="realNameMd5" jdbcType="VARCHAR" />
    <result column="id_card_num_md5" property="idCardNumMd5" jdbcType="VARCHAR" />
    <result column="id_card_num" property="idCardNum" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="CHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="cert_no" property="certNo" jdbcType="VARCHAR" />
    <result column="cert_type" property="certType" jdbcType="CHAR" />
    <result column="profession" property="profession" jdbcType="CHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="work_year" property="workYear" jdbcType="CHAR" />
    <result column="is_apply_live" property="isApplyLive" jdbcType="CHAR" />
    <result column="live_actual_num" property="liveActualNum" jdbcType="INTEGER" />
    <result column="live_max_num" property="liveMaxNum" jdbcType="INTEGER" />
    <result column="tougu_time" property="touguTime" jdbcType="DATE" />
    <result column="tougu_company_id" property="touguCompanyId" jdbcType="BIGINT" />
    <result column="is_apply_strategy" property="isApplyStrategy" jdbcType="CHAR" />
    <result column="is_name_auth" property="isNameAuth" jdbcType="CHAR" />
    <result column="is_cash_auth" property="isCashAuth" jdbcType="CHAR" />
    <result column="is_recommend" property="isRecommend" jdbcType="BIT" />
    <result column="apprentice_all_count" property="apprenticeAllCount" jdbcType="BIGINT" />
    <result column="is_in_back_show_zone" property="isInBackShowZone" jdbcType="BIT" />
    <result column="last_gold_time" property="lastGoldTime" jdbcType="TIMESTAMP" />
    <result column="apply_live_time" property="applyLiveTime" jdbcType="TIMESTAMP" />
    <result column="is_gold_medal_teacher" property="isGoldMedalTeacher" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    flex_teacher_id, uid, yy_num, nick_name, diy_nick_name, diy_nick_name_active, head_url, 
    diy_head_url, diy_head_url_active, fin_type, live_status, live_status_update_type, 
    live_status_update_time, live_sid, live_ssid, live_sid_alias, stream_id, ip_users, 
    live_population, live_time, add_time, last_update_time, status, text_zone_a, text_zone_b, 
    text_zone_c, text_zone_d, text_zone_e, text_zone_f, text_zone_g, text_zone_h, num_zone_a, 
    num_zone_b, description, live_channel_name, live_sub_channel_name, grow, next_grow, 
    level, level_title, live_thumb, live_multi_screen, cover_status, contract_sid, contract_sid_alias, 
    social_nick_name, social_introduction, social_head_url, page_tag_id, fans_count, 
    apprentice_count, real_name, real_name_md5, id_card_num_md5, id_card_num, gender, 
    mobile_phone, mail, cert_no, cert_type, profession, address, work_year, is_apply_live, 
    live_actual_num, live_max_num, tougu_time, tougu_company_id, is_apply_strategy, is_name_auth, 
    is_cash_auth, is_recommend, apprentice_all_count, is_in_back_show_zone, last_gold_time, 
    apply_live_time, is_gold_medal_teacher
  </sql>
  <select id="selectByUid" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from flex_teacher
    where uid = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from flex_teacher
    where flex_teacher_id = #{flexTeacherId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yy.bean.FlexTeacher" >
    insert into flex_teacher (flex_teacher_id, uid, yy_num, 
      nick_name, diy_nick_name, diy_nick_name_active, 
      head_url, diy_head_url, diy_head_url_active, 
      fin_type, live_status, live_status_update_type, 
      live_status_update_time, live_sid, live_ssid, 
      live_sid_alias, stream_id, ip_users, 
      live_population, live_time, add_time, 
      last_update_time, status, text_zone_a, 
      text_zone_b, text_zone_c, text_zone_d, 
      text_zone_e, text_zone_f, text_zone_g, 
      text_zone_h, num_zone_a, num_zone_b, 
      description, live_channel_name, live_sub_channel_name, 
      grow, next_grow, level, 
      level_title, live_thumb, live_multi_screen, 
      cover_status, contract_sid, contract_sid_alias, 
      social_nick_name, social_introduction, social_head_url, 
      page_tag_id, fans_count, apprentice_count, 
      real_name, real_name_md5, id_card_num_md5, 
      id_card_num, gender, mobile_phone, 
      mail, cert_no, cert_type, 
      profession, address, work_year, 
      is_apply_live, live_actual_num, live_max_num, 
      tougu_time, tougu_company_id, is_apply_strategy, 
      is_name_auth, is_cash_auth, is_recommend, 
      apprentice_all_count, is_in_back_show_zone, last_gold_time, 
      apply_live_time, is_gold_medal_teacher)
    values (#{flexTeacherId,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{yyNum,jdbcType=BIGINT}, 
      #{nickName,jdbcType=VARCHAR}, #{diyNickName,jdbcType=VARCHAR}, #{diyNickNameActive,jdbcType=TINYINT}, 
      #{headUrl,jdbcType=VARCHAR}, #{diyHeadUrl,jdbcType=VARCHAR}, #{diyHeadUrlActive,jdbcType=TINYINT}, 
      #{finType,jdbcType=VARCHAR}, #{liveStatus,jdbcType=TINYINT}, #{liveStatusUpdateType,jdbcType=VARCHAR}, 
      #{liveStatusUpdateTime,jdbcType=TIMESTAMP}, #{liveSid,jdbcType=BIGINT}, #{liveSsid,jdbcType=BIGINT}, 
      #{liveSidAlias,jdbcType=BIGINT}, #{streamId,jdbcType=VARCHAR}, #{ipUsers,jdbcType=BIGINT}, 
      #{livePopulation,jdbcType=BIGINT}, #{liveTime,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, #{textZoneA,jdbcType=VARCHAR}, 
      #{textZoneB,jdbcType=VARCHAR}, #{textZoneC,jdbcType=VARCHAR}, #{textZoneD,jdbcType=VARCHAR}, 
      #{textZoneE,jdbcType=VARCHAR}, #{textZoneF,jdbcType=VARCHAR}, #{textZoneG,jdbcType=VARCHAR}, 
      #{textZoneH,jdbcType=VARCHAR}, #{numZoneA,jdbcType=BIGINT}, #{numZoneB,jdbcType=BIGINT}, 
      #{description,jdbcType=VARCHAR}, #{liveChannelName,jdbcType=VARCHAR}, #{liveSubChannelName,jdbcType=VARCHAR}, 
      #{grow,jdbcType=BIGINT}, #{nextGrow,jdbcType=BIGINT}, #{level,jdbcType=INTEGER}, 
      #{levelTitle,jdbcType=VARCHAR}, #{liveThumb,jdbcType=VARCHAR}, #{liveMultiScreen,jdbcType=VARCHAR}, 
      #{coverStatus,jdbcType=TINYINT}, #{contractSid,jdbcType=BIGINT}, #{contractSidAlias,jdbcType=BIGINT}, 
      #{socialNickName,jdbcType=VARCHAR}, #{socialIntroduction,jdbcType=VARCHAR}, #{socialHeadUrl,jdbcType=VARCHAR}, 
      #{pageTagId,jdbcType=BIGINT}, #{fansCount,jdbcType=INTEGER}, #{apprenticeCount,jdbcType=BIGINT}, 
      #{realName,jdbcType=VARCHAR}, #{realNameMd5,jdbcType=VARCHAR}, #{idCardNumMd5,jdbcType=VARCHAR}, 
      #{idCardNum,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, #{mobilePhone,jdbcType=VARCHAR}, 
      #{mail,jdbcType=VARCHAR}, #{certNo,jdbcType=VARCHAR}, #{certType,jdbcType=CHAR}, 
      #{profession,jdbcType=CHAR}, #{address,jdbcType=VARCHAR}, #{workYear,jdbcType=CHAR}, 
      #{isApplyLive,jdbcType=CHAR}, #{liveActualNum,jdbcType=INTEGER}, #{liveMaxNum,jdbcType=INTEGER}, 
      #{touguTime,jdbcType=DATE}, #{touguCompanyId,jdbcType=BIGINT}, #{isApplyStrategy,jdbcType=CHAR}, 
      #{isNameAuth,jdbcType=CHAR}, #{isCashAuth,jdbcType=CHAR}, #{isRecommend,jdbcType=BIT}, 
      #{apprenticeAllCount,jdbcType=BIGINT}, #{isInBackShowZone,jdbcType=BIT}, #{lastGoldTime,jdbcType=TIMESTAMP}, 
      #{applyLiveTime,jdbcType=TIMESTAMP}, #{isGoldMedalTeacher,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yy.bean.FlexTeacher" >
    update flex_teacher
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="yyNum != null" >
        yy_num = #{yyNum,jdbcType=BIGINT},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="diyNickName != null" >
        diy_nick_name = #{diyNickName,jdbcType=VARCHAR},
      </if>
      <if test="diyNickNameActive != null" >
        diy_nick_name_active = #{diyNickNameActive,jdbcType=TINYINT},
      </if>
      <if test="headUrl != null" >
        head_url = #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="diyHeadUrl != null" >
        diy_head_url = #{diyHeadUrl,jdbcType=VARCHAR},
      </if>
      <if test="diyHeadUrlActive != null" >
        diy_head_url_active = #{diyHeadUrlActive,jdbcType=TINYINT},
      </if>
      <if test="finType != null" >
        fin_type = #{finType,jdbcType=VARCHAR},
      </if>
      <if test="liveStatus != null" >
        live_status = #{liveStatus,jdbcType=TINYINT},
      </if>
      <if test="liveStatusUpdateType != null" >
        live_status_update_type = #{liveStatusUpdateType,jdbcType=VARCHAR},
      </if>
      <if test="liveStatusUpdateTime != null" >
        live_status_update_time = #{liveStatusUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="liveSid != null" >
        live_sid = #{liveSid,jdbcType=BIGINT},
      </if>
      <if test="liveSsid != null" >
        live_ssid = #{liveSsid,jdbcType=BIGINT},
      </if>
      <if test="liveSidAlias != null" >
        live_sid_alias = #{liveSidAlias,jdbcType=BIGINT},
      </if>
      <if test="streamId != null" >
        stream_id = #{streamId,jdbcType=VARCHAR},
      </if>
      <if test="ipUsers != null" >
        ip_users = #{ipUsers,jdbcType=BIGINT},
      </if>
      <if test="livePopulation != null" >
        live_population = #{livePopulation,jdbcType=BIGINT},
      </if>
      <if test="liveTime != null" >
        live_time = #{liveTime,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="textZoneA != null" >
        text_zone_a = #{textZoneA,jdbcType=VARCHAR},
      </if>
      <if test="textZoneB != null" >
        text_zone_b = #{textZoneB,jdbcType=VARCHAR},
      </if>
      <if test="textZoneC != null" >
        text_zone_c = #{textZoneC,jdbcType=VARCHAR},
      </if>
      <if test="textZoneD != null" >
        text_zone_d = #{textZoneD,jdbcType=VARCHAR},
      </if>
      <if test="textZoneE != null" >
        text_zone_e = #{textZoneE,jdbcType=VARCHAR},
      </if>
      <if test="textZoneF != null" >
        text_zone_f = #{textZoneF,jdbcType=VARCHAR},
      </if>
      <if test="textZoneG != null" >
        text_zone_g = #{textZoneG,jdbcType=VARCHAR},
      </if>
      <if test="textZoneH != null" >
        text_zone_h = #{textZoneH,jdbcType=VARCHAR},
      </if>
      <if test="numZoneA != null" >
        num_zone_a = #{numZoneA,jdbcType=BIGINT},
      </if>
      <if test="numZoneB != null" >
        num_zone_b = #{numZoneB,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="liveChannelName != null" >
        live_channel_name = #{liveChannelName,jdbcType=VARCHAR},
      </if>
      <if test="liveSubChannelName != null" >
        live_sub_channel_name = #{liveSubChannelName,jdbcType=VARCHAR},
      </if>
      <if test="grow != null" >
        grow = #{grow,jdbcType=BIGINT},
      </if>
      <if test="nextGrow != null" >
        next_grow = #{nextGrow,jdbcType=BIGINT},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="levelTitle != null" >
        level_title = #{levelTitle,jdbcType=VARCHAR},
      </if>
      <if test="liveThumb != null" >
        live_thumb = #{liveThumb,jdbcType=VARCHAR},
      </if>
      <if test="liveMultiScreen != null" >
        live_multi_screen = #{liveMultiScreen,jdbcType=VARCHAR},
      </if>
      <if test="coverStatus != null" >
        cover_status = #{coverStatus,jdbcType=TINYINT},
      </if>
      <if test="contractSid != null" >
        contract_sid = #{contractSid,jdbcType=BIGINT},
      </if>
      <if test="contractSidAlias != null" >
        contract_sid_alias = #{contractSidAlias,jdbcType=BIGINT},
      </if>
      <if test="socialNickName != null" >
        social_nick_name = #{socialNickName,jdbcType=VARCHAR},
      </if>
      <if test="socialIntroduction != null" >
        social_introduction = #{socialIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="socialHeadUrl != null" >
        social_head_url = #{socialHeadUrl,jdbcType=VARCHAR},
      </if>
      <if test="pageTagId != null" >
        page_tag_id = #{pageTagId,jdbcType=BIGINT},
      </if>
      <if test="fansCount != null" >
        fans_count = #{fansCount,jdbcType=INTEGER},
      </if>
      <if test="apprenticeCount != null" >
        apprentice_count = #{apprenticeCount,jdbcType=BIGINT},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="realNameMd5 != null" >
        real_name_md5 = #{realNameMd5,jdbcType=VARCHAR},
      </if>
      <if test="idCardNumMd5 != null" >
        id_card_num_md5 = #{idCardNumMd5,jdbcType=VARCHAR},
      </if>
      <if test="idCardNum != null" >
        id_card_num = #{idCardNum,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="certNo != null" >
        cert_no = #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="certType != null" >
        cert_type = #{certType,jdbcType=CHAR},
      </if>
      <if test="profession != null" >
        profession = #{profession,jdbcType=CHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="workYear != null" >
        work_year = #{workYear,jdbcType=CHAR},
      </if>
      <if test="isApplyLive != null" >
        is_apply_live = #{isApplyLive,jdbcType=CHAR},
      </if>
      <if test="liveActualNum != null" >
        live_actual_num = #{liveActualNum,jdbcType=INTEGER},
      </if>
      <if test="liveMaxNum != null" >
        live_max_num = #{liveMaxNum,jdbcType=INTEGER},
      </if>
      <if test="touguTime != null" >
        tougu_time = #{touguTime,jdbcType=DATE},
      </if>
      <if test="touguCompanyId != null" >
        tougu_company_id = #{touguCompanyId,jdbcType=BIGINT},
      </if>
      <if test="isApplyStrategy != null" >
        is_apply_strategy = #{isApplyStrategy,jdbcType=CHAR},
      </if>
      <if test="isNameAuth != null" >
        is_name_auth = #{isNameAuth,jdbcType=CHAR},
      </if>
      <if test="isCashAuth != null" >
        is_cash_auth = #{isCashAuth,jdbcType=CHAR},
      </if>
      <if test="isRecommend != null" >
        is_recommend = #{isRecommend,jdbcType=BIT},
      </if>
      <if test="apprenticeAllCount != null" >
        apprentice_all_count = #{apprenticeAllCount,jdbcType=BIGINT},
      </if>
      <if test="isInBackShowZone != null" >
        is_in_back_show_zone = #{isInBackShowZone,jdbcType=BIT},
      </if>
      <if test="lastGoldTime != null" >
        last_gold_time = #{lastGoldTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyLiveTime != null" >
        apply_live_time = #{applyLiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isGoldMedalTeacher != null" >
        is_gold_medal_teacher = #{isGoldMedalTeacher,jdbcType=CHAR},
      </if>
    </set>
    where flex_teacher_id = #{flexTeacherId,jdbcType=BIGINT}
  </update>
   <select id="selectOnlineTeacherUids" resultType="Long">
      select 
       uid
      from flex_teacher where live_status = 6
 	</select>
</mapper>